.slider {position:relative;}
.slider-wraper { width: 100vw;  height: 100vh;}
.slider--item {  width: 100vw;  height: 700px;  background-repeat: no-repeat; background-position:center center;  background-size: cover;}
.slick-slide {  position: relative;  outline: none;  z-index: 1;}
.slick-slide.slick-current {  z-index: 2;}
.slider span.img_info {position: absolute; bottom:3em; left:3em; color:#fff; font-size:30px; font-weight:500; z-index: 0;}

.slick-arrow {  position: absolute;  width: 150px;  top: 0;  height: 100%;  border: none;  outline: none;
  background-color: rgba(255, 255, 255, 0);  text-indent: -9999px;  z-index: 9;  cursor: pointer;}
.slick-arrow:before {  content: "";  position: absolute;  display: block;  width: 42px;  height: 42px;  top: 50%;  margin-top: -21px;
  -webkit-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -khtml-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -moz-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -ms-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -o-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;}
.slick-arrow:after { content:""; position: absolute; display: block; height: 2px; width: 160px; top: 50%; background-color: white;
  -webkit-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -khtml-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -moz-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -ms-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -o-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  opacity: 0;}
.slick-arrow.slick-prev {  left: 0;}
.slick-arrow.slick-prev:before {  border-top: 2px solid white;  border-left: 2px solid white;  left: 50px;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);}
.slick-arrow.slick-prev:after {  left: 300px;}
.slick-arrow.slick-prev:hover:before {  left: 80px;}
.slick-arrow.slick-prev:hover:after {  left: 73px;  opacity: 1;  width: 80px;}
.slick-arrow.slick-next {  right: 0;}
.slick-arrow.slick-next:before {  border-bottom: 2px solid white;  border-right: 2px solid white;  right: 50px;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);}
.slick-arrow.slick-next:after {  right: 300px; }
.slick-arrow.slick-next:hover:before {  right: 80px;}
.slick-arrow.slick-next:hover:after {  right: 73px;  opacity: 1;  width: 80px;}
.slick-dots {  padding: 0;  margin: 0;  width: 100%;  position: absolute;  bottom: 30px;  text-align: center;}
.slick-dots li {  display: inline-block;  vertical-align: middle;  margin: 0 6px;}
.slick-dots li.slick-active button {  background-color: white;  height: 18px;  width: 18px;}
.slick-dots li.slick-active button:hover {  background-color: white;}
.slick-dots li button {  outline: none;  display: block;  width: 18px;  height: 18px;  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);  text-indent: -9999px;  border-radius: 100%;  cursor: pointer;
  -webkit-transition: all, 0.2s, ease-in 1s ease-in-out;
  -khtml-transition: all, 0.2s, ease-in 1s ease-in-out;
  -moz-transition: all, 0.2s, ease-in 1s ease-in-out;
  -ms-transition: all, 0.2s, ease-in 1s ease-in-out;
  -o-transition: all, 0.2s, ease-in 1s ease-in-out;
  transition: all, 0.2s, ease-in 1s ease-in-out;}
.slick-dots li button:hover {  background-color: rgba(255, 255, 255, 0.5);}


/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
.slider-wraper img{ width: 100%;  height: 100vh;}	
.slider--item {  width: 100%;  height: 500px; background-size: cover; }	
.slider span.img_info {position: absolute; bottom:4em; left:1em; color:#fff; font-size:17px; font-weight:500;  }
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}

