section.product { width:1120px; margin:0 auto; padding:60px 0px  0 0;  box-sizing:border-box; min-height:650px; }
section.product div.tit {text-align:center; width:100%; padding:0 0 35px 0}
section.product h3{font-size:35px; font-weight:normal; padding-bottom:10px;}
section.product p{font-size:18px;}
section.product td.board_output_gallery_img {text-align:center;}
section.product span.board_output_gallery_subject a {font-family:"Noto Sans KR","sans-serif"; font-size:15px !important; display:block; padding-top:7px;}
section.product table.main_gallery table,section.product table.board_output table {width:100%;  margin:0 auto 30px auto !important; text-align:center; box-sizing:border-box; padding:0;}
section.product .board_output_gallery_subject {width:100% !important;}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
section.product {clear:both; width:100%; margin:0 auto; padding:30px 0 0px;  min-height:auto; }
section.product td.board_output_gallery_img {text-align:center;}
section.product td.board_output_gallery_img img {width:130px; height:130px; }
section.product span.board_output_gallery_subject {font-size:15px; padding-top:5px; display:block; text-align:center; width:100%; }
section.product table.main_gallery table {width:100%;  margin:0 auto !important; box-sizing:border-box; padding:10px 0;}
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
