<ul class="mobile-menu-list">
    <li class="dropdown-mobile menu">
    <div class="depth1 top"><a href="{{$template}}/01/01.php?tit=01&sub=01" >도당소개</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m1" >도당소개<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m1">
    <li><a href="{{$template}}/01/01.php?tit=01&sub=01" >도당위원장</a></li>
    <li><a href="http://www.peoplepowerparty.kr/renewal/about/constitution.do" target="_blank">당헌·당규</a></li>
    <!--<li><a href="{{$template}}/company/company_2.php?tit=01&sub=02" >연혁</a></li>-->
    <!--<li><a href="{{$template}}/company/company_4.php?tit=01&sub=04" >조직도</a></li>-->
    <li><a href="{{$template}}/01/02.php?tit=01&sub=03" >찾아오시는 길</a></li>
    </ul>
    </div>
    </li>
    <li class="dropdown-mobile menu">
    <div class="depth1 top"><a href="{{$template}}/02/01.php?tit=02&sub=01" >도당가족</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m2" >도당가족<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m2">
    <li><a href="{{$template}}/02/01.php?tit=02&sub=01" >국회의원</a></li>
    <li><a href="{{$template}}/02/02.php?tit=02&sub=02" >당협위원장</a></li>
    <li><a href="{{$template}}/02/03.php?tit=02&sub=03" >광역기초단체장</a></li>
    <li><a href="{{$template}}/02/04.php?tit=02&sub=04" >기초의원</a></li>
    <!--<li><a href="{{$template}}/business/business_5.php?tit=02&sub=05" >갤러리01</a></li>
    <li><a href="{{$template}}/02/business_6.php?tit=02&sub=06" >갤러리02</a></li>-->
    </ul>
    </div>
    </li>
    <li class="dropdown-mobile menu">
    <div class="depth1 top"><a href="{{$template}}/03/01.php?tit=05&sub=01" >도당소식</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m5" >도당소식<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m5">
    <li><a href="{{$template}}/03/01.php?tit=05&sub=01" >공지사항</a></li>
    <li><a href="{{$template}}/03/02.php?tit=05&sub=02" >보도자료</a></li>
    <li><a href="{{$template}}/03/03.php?tit=05&sub=03" >언론동향</a></li>
    
    <!--<li><a href="{{$template}}/customer/customer_2.php?tit=05&sub=04" >자주하는 질문</a></li>
    <li><a href="{{$template}}/customer/customer_5.php?tit=05&sub=05" >대리점안내</a></li>-->
    </ul>
    </div>
    </li>
    
    <li class="dropdown-mobile menu">
    <div class="depth1 top"><a href="{{$template}}/04/01.php?tit=08&sub=01&com_board_category_code=c1" >자료실</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m8" >자료실<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m8">
    <li><a href="{{$template}}/04/01.php?tit=08&sub=01" >도당갤러리</a></li>
    <li><a href="{{$template}}/04/02.php?tit=08&sub=02&com_board_category_code=c2" >입당안내</a></li>
    <li><a href="{{$template}}/04/03.php?tit=08&sub=03&com_board_category_code=c3" >서식자료실</a></li>
    </ul>
    </div>
    </li>
    
    <!-- 안쓰는애들
    <li class="dropdown-mobile menu">
    <div class="depth1 top"><a href='{{$template}}/product/product_1.php?tit=03&sub=01&com_board_category_code=c1' >제품소개</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m3" >제품소개<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m3">
    <li><a href='{{$template}}/product/product_1.php?tit=03&sub=01&com_board_category_code=c1'>제품소개1</a></li>
    <li><a href='{{$template}}/product/product_1.php?tit=03&sub=01&com_board_category_code=c2'>제품소개2</a></li>
    <li><a href='{{$template}}/product/product_1.php?tit=03&sub=01&com_board_category_code=c3'>제품소개3</a></li>
    <li><a href='{{$template}}/product/product_1.php?tit=03&sub=01&com_board_category_code=c4'>제품소개4</a></li>
    <li><a href='{{$template}}/product/product_1.php?tit=03&sub=01&com_board_category_code=c5'>제품소개5</a></li>
    </ul>
    </div>
    </li>
    <li class="dropdown-mobile menu">
    <div class="depth1 top"><a href="{{$template}}/qna/qna_1.php?tit=04&sub=01" >온라인문의</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m4" >온라인문의<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m4">
    <li><a href="{{$template}}/qna/qna_1.php?tit=04&sub=01" >Q & A</a></li>
    <li><a href="{{$template}}/qna/qna_2.php?tit=04&sub=02" >1:1 문의</a></li>
    </ul>
    </div>
    </li>
     안쓰는애들 -->
    
    
    <!--shop-->
    <!--li class="dropdown-mobile menu">
    <div class="depth1 top"><a href="{{$template}}/mall/mall1.php?tit=07&sub=01?topmenu=p&mode=list&cate_code=CA100001"" >온라인샵</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m6" >온라인샵<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m6">
    {{$cafe_ecshop_ec_category}}
    </ul>
    </div>
    </li-->
    <!--mypage-->
    <li class="dropdown-mobile menu mypage">
    <div class="depth1 top"><a href="{{$template}}/mall/mall1.php?tit=07&sub=01?topmenu=p&mode=list&cate_code=CA100001"" >마이페이지</a></div>
    <div class="depth1 side"><a class="collapsed" aria-expanded="false" data-toggle="collapse" data-target="#m7" >마이페이지<span class="caret"></span></a></div>
    <div class="depth2">
    <ul class="dropdown-mobile-menu collapse" id="m7">
    <li class="select{{if $get.sub eq "07"}}_on{{else}}{{/if}}" ><a href="{{$template}}/mypage/mypage2.php?tit=06&sub=07&mode=basketList">장바구니</a></li>
    {{if $use_member == 'Y'}}
    {{if $member_id}}
    <li class="select{{if $get.sub eq "05"}}_on{{else}}{{/if}}"><a href="{{$template}}/member/modify.php?tit=06&sub=05">회원정보 수정</a></li>
    <li class="select{{if $get.sub eq "06"}}_on{{else}}{{/if}}" ><a href="{{$template}}/member/secede.php?tit=06&sub=06">회원탈퇴</a></li>
    {{else}}
    <li class="select{{if $get.sub eq "02"}}_on{{else}}{{/if}}"><a href="{{$template}}/member/login.php?tit=06&sub=02">로그인</a></li>
    <li class="select{{if $get.sub eq "01"}}_on{{else}}{{/if}}" ><a href="{{$template}}/member/join.php?tit=06&sub=01">회원가입</a></li>
    {{/if}}
    {{/if}}
    </ul>
    </div>
    </li>
    </ul>
    
    