#agent {margin:0 auto 70px auto; float:left; text-align: center; width:350px;}
#agent img {max-width:100%;}
div.agent_list { width:700px; float:right; padding-top:20px; }

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
#agent {margin:0 auto 20px auto; float:none; text-align: center; max-width:100%;}
#agent img {max-width:100%;}
div.agent_list { width:100%; float:none;  padding-top:0px; }
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
