#toparea { position:absolute; top:0px; height:120px; width:100%; margin-left:auto; margin-right:auto; left:0; right:0; }
#top {  border-bottom:0px solid #343848;   position:relative;   }
#topBox { margin:0 auto; max-width:100% !important;  position:relative;}
div.top_mask {width:100%; } 
aside.util {  position:relative; width:100%; margin:0 auto; font-size:13px; display:block; z-index:15 ;
 border-bottom:0px solid #dfdfdf;   }
aside.util div.util_Area { background-color:#f0f0f0; right:0px; width:100%;   margin:0 auto;  text-align:right; padding:2px 30px 5px 0; box-sizing:border-box; }
aside.util div.util_Area a{  padding:0px 10px 0 10px; border-left:0px solid #888;  }
aside.util div.util_Area a:hover {color:#dfdfdf;}
aside.util div.util_Area a.first{ border-left:0px; }

#header div.logo { position:absolute; top:9px;   padding:0 35px;   box-sizing:border-box;   z-index:23 ; }
.button_container {display:none;}

@media all and (min-width:1024px)  { 

.gnb{ position:absolute; top:25px ;  background-color:#fff; left:0; width:100%;  z-index:13;  border-bottom:0px solid rgba(255,255,255,0.3);  
margin:0px auto 0 auto;   }
.gnb a {color:#333;}
.gnb .depth1 a:hover {/*color:#10ffff !important; */}
.gnb > ul{overflow:hidden; list-style-type:none; width:900px; padding-left:0px; box-sizing:border-box; margin:0 auto;}
.gnb .menu{float:left; width:16.66666%; text-align:center; color:rgba(255,255,255,0.5) !important;  }
.gnb .menu:first-child{margin:0}
.gnb .depth1{padding:0; font-size:20px; font-weight:500;  letter-spacing:-0.3px; text-align:center; margin:0 auto; padding:0 10px; display:block;  line-height:80px; box-sizing:border-box;}
.gnb .depth2{height:0 ;overflow:hidden;  font-size:14px; border-left:0px solid #353535;  }
.gnb .menu:first-child .depth2{border-left:0px solid #dfdfdf; }
.gnb .depth2 ul{ list-style-type:none; padding:0; margin:0; } /*depth2 height -> menu.js */
.gnb .depth2 ul.depth2_ul1 > li{margin-top:12px; padding:0 10px; }
.gnb .depth2 ul.depth2_ul1 > li:first-child{margin-top:10px}
.gnb .depth2 ul li a {padding: 4px 0px 4px 0px ;  }
.gnb .depth2 ul li a:hover { color:#ed1c24;  -webkit-transition: 0.2s;  transition: 0.2s; }

.gnb .depth2 ul.depth2_ul2 {background-color:#293360; padding:10px 10px; border-radius: 5px 5px; margin-top:10px;}
.gnb .depth2 ul.depth2_ul2 > li {line-height: 25px;  font-size:12px;}

.gnb:hover {background:#fff; color:#333; }
.gnb:hover a {color:#999;}
.gnb .menu:hover {/*background-color:#3f4a7c; */ color:#333 !important; }
.gnb .menu:hover a{  border-bottom:2px solid #fff;  padding-bottom:7px; color:#333}
.gnb .menu:hover .depth1 a{color:#333}
.gnb .menu:hover .depth2 ul li a {border-bottom:0;}
.gnb:hover .depth2 {}

/*.gnb{ position:absolute; top:30px ;  background-color:rgba(255,255,255,1); left:0; width:100%;  z-index:13;  border-bottom:1px solid rgba(255,255,255,0.3);  
margin:0px auto 0 auto; text-align:center;  }
.gnb a {}
.gnb > ul{overflow:hidden; list-style-type:none; width:1100px; padding-left:250px; box-sizing:border-box; margin:0 auto;}
.gnb .menu{float:left; width:16.66666%; text-align:center;}
.gnb .menu:first-child{margin:0}
.gnb .depth1{padding:0; font-size:18px;  letter-spacing:-0.3px; text-align:center; margin:0 auto; padding:0; display:block;  line-height:90px; box-sizing:border-box;}
.gnb .depth2{height:0 ;overflow:hidden;  font-size:14px; border-left:0px solid #353535;  }
.gnb .menu:first-child .depth2{border-left:0px solid #dfdfdf; }
.gnb .depth2 ul{ list-style-type:none; padding:0; margin:0; } 
.gnb .depth2 ul li{margin-top:15px;}
.gnb .depth2 ul li:first-child{margin-top:10px}
.gnb .depth2 ul li a {padding: 4px 20px 4px 20px ; border-radius:5px 5px;}
.gnb .depth2 ul li a:hover { color:#fff !important; background-color:#204b9a; -webkit-transition: 0.5s;  transition: 0.5s; }
.gnb:hover {background:rgba(255,255,255,1); color:#333; }
.gnb:hover a {color:#333;}
.gnb .menu:hover {background-color:#fff;  }
.gnb .menu:hover a{  border-bottom:2px solid #0542b1;  padding-bottom:7px;}
.gnb .menu:hover .depth1 a{color:#0542b1}
.gnb .menu:hover .depth2 ul li a {border-bottom:0;}
.gnb:hover .depth2 {}

/*.gnb{ position:absolute; top:30px ; background-color:rgba(255,255,255,1); left:0; width:100%;  z-index:13;  border-bottom:0px solid #dfdfdf;  margin:0px auto 0 auto; text-align:center; transition: all 0.5s ; }
.gnb a {color:#333;}
.gnb > ul{overflow:hidden; list-style-type:none; width:1000px; padding-left:250px; box-sizing:border-box; margin:0 auto;}
.gnb .menu{float:left; width:20%; text-align:center;}
.gnb .menu:first-child{margin:0}
.gnb .depth1{padding:0; font-size:17px; font-weight:bold; display:block; padding:32px 0 28px 0; height:90px; box-sizing:border-box;}
.gnb .depth2{height:0 ;overflow:hidden;  font-size:13px; border-left:0px solid #353535;  }
.gnb .menu:first-child .depth2{border-left:0px solid #dfdfdf; }
.gnb .depth2 ul{overflow:hidden; } 
.gnb .depth2 ul li{margin-top:15px;}
.gnb .depth2 ul li:first-child{margin-top:10px}
.gnb .depth2 ul li a:hover {text-decoration:underline; color:#fff13c !important; }
.gnb:hover {background:rgba(255,255,255,1); color:#333; }
.gnb:hover a {color:#333;}
.gnb .menu:hover {background-color:#353535;  }
.gnb .menu:hover a{ color:#fff !important; border-bottom:2px solid #dfdfdf;  padding-bottom:7px;}
.gnb .menu:hover .depth2 ul li a {border-bottom:0;}
.gnb:hover .depth2 {}*/

}



/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
#toparea {width:100%; top:0px; height:auto; position:relative; }
#wrap {max-width:100%; margin:0 auto; position:relative; padding:0; }
aside.util {background-color:#efefef;}
aside.util a{ color:#333 ; font-size:12px;}
aside.util a:hover{ color:#333 !important; font-size:12px;}
#topBox { margin:0 auto; max-width:100% !important; }
#header div.logo {display:table-cell; vertical-align:middle; position:relative; left:0; top:0; height:70px; padding:0 0 0 5px;   box-sizing:border-box;   z-index:23 ; }
#header div.logo img {vertical-align: top;}
.gnb{ display:none; }
.overlay div.contact {display:none; }
div.button_container div.txt{display:none;}
.button_container { display:block;  position: absolute;  }
.button_container {    top: 20px;  right: 20px; }

@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}

