/*---------------------------------------
  COMMON               
-----------------------------------------*/
@charset "utf-8";
@import url('../font/font.css');

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, summary, mark, meter, output, progress, time, video 
{ display: block; }
body,form,th,td,p { margin:0;padding:0; -webkit-text-size-adjust:none; word-break:keep-all }
html { font-family:"Noto Sans KR","Dotum","Gulim,Helvetica","sans-serif"; color:#252525;  font-weight:400; letter-spacing:-0.3px;}
/*html { font-family:"Malgun Gothic","Dotum","Gulim,Helvetica","sans-serif";}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, 
header, footer, figure, figcaption, nav, section { margin:0; padding:0; border:0;  vertical-align:baseline; background:transparent; }
html, body {  width: 100%;  height: 100%;}
html{  -webkit-font-smoothing: antialiased;}
a {text-decoration:none;  /* -webkit-transition: 0.5s;  transition: 0.5s;*/}
a:link, a:visited, a:active, a:focus { text-decoration:none; color:inherit; cursor:pointer; }
a:hover{ text-decoration:none; color:#333; cursor:pointer; }
* {  -webkit-box-sizing: border-box;  box-sizing: border-box;}
*:before,*:after {  -webkit-box-sizing: border-box;  box-sizing: border-box;}
::-webkit-scrollbar{  width: 6px;  height: 6px;}
::-webkit-scrollbar-thumb {  cursor: pointer;  background: #252525;}
/*#about,#team, #contact {  padding-top: 100px;  padding-bottom: 100px;  text-align: center;}*/
.scroll .container a.navbar-brand img{border:2px solid #000;}
.wd10 {width:1000px; margin:0 auto; clear:both; overflow:hidden; }
.wd11 {width:1100px; margin:0 auto; clear:both; overflow:hidden; }
.wd12 {width:1200px; margin:0 auto; clear:both; overflow:hidden; }
.wd13 {width:1300px; margin:0 auto; clear:both; overflow:hidden; }
.wd14 {width:1400px; margin:0 auto; clear:both; overflow:hidden; }
.wd115 {width:1150px; margin:0 auto; clear:both; overflow:hidden; }
.wdFull {width:100%; margin:0 ; clear:both; overflow:hidden; }
.bgGray {background-color:#f4f4f4;}
.bgGray2 {background-color:#e3e3e3;}
.bgGray3 {background-color:#c2c1c1; }
.bgGray4 {background-color:#d7d7d7; }
.bgBlue {background-color:#ececf5}
.bgBlue2 {background-color:#143453}
.bgBlue3 {background-color:#28374e}
.bgBlue4 {background-color:#eef2f2}
.bgBlack {background-color:#333;}
.bgWhite {background-color:#fff;}
.bgBrown {background-color:#7f464b;}
.txtP { padding-bottom:20px; font-size:16px; line-height:30px;   }
.txtBig {font-size:60px; line-height:70px;}
.txtHead {font-size:45px; line-height:55px;  }
.txtHead2 {font-size:38px; line-height:48px;  }
.txtHead3 {font-size:25px; line-height:35px;  }
.txtHead4 {  font-size:20px; line-height:30px;   }
.txtHead5 {  font-size:22px; line-height:30px;   }
.fontWeight300 {font-weight:300 }
.fontWeight400 {font-weight:400 }
.txtS {font-size:17px;  line-height:27px; }
.clearB {clear:both; overflow:hidden; }
.img_c {text-align:center; }
.img_r {text-align:right; }
.txtB {font-weight:500; } 
.txtWhite {color:#fff !important;}
.txtRed2 {color:#c12239 !important;} 
.txtRed {color:#fa2f07 }
.txtGreen {color:#71b52e !important;} 
.txtGreen2 {color:#00817d }
.txtGray { color:#999 !important;}
.txtGray2 { color:#ccc !important;} 
.txtDkBlue { color:#4e5460 !important; }
.txtBold {font-weight:bold; }
.txtBlue { color:#0071c5; }
.txtBlue2 { color:#21245c; }
.txtUline {border-bottom:1px solid #333;}
.txtUline2 {border-bottom:3px solid #333;}
.pdR250 {padding-right:250px;}
.pdL250 {padding-left:250px;}
.pdL10 {padding-left:10px}
.pdL15 {padding-left:15px}
.pdL20 {padding-left:20px}
.pdL50 {padding-left:50px}
.pdT10 {padding-top:10px}
.pdT15 {padding-top:15px}
.pdT20 {padding-top:20px}
.pdT30 {padding-top:30px}
.pdT40 {padding-top:40px}
.pdT50 {padding-top:50px}
.pdT60 {padding-top:60px}
.pdT70 {padding-top:70px}
.pdT90 {padding-top:90px}
.pdT100 {padding-top:100px}
.mgT10 {margin-top:10px}
.mgT30 {margin-top:30px}
.mgT50 {margin-top:50px}
.mgT60 {margin-top:60px}
.mgT70 {margin-top:70px}
.mgT100 {margin-top:100px}
.pdB10 {padding-bottom:10px;}
.pdB20 {padding-bottom:20px;}
.pdB30 {padding-bottom:30px;}
.pdB50 {padding-bottom:50px;}
.pdB70 {padding-bottom:70px;}
.pdB100 {padding-bottom:100px;}
.txtBig {font-family:'Nanum Myeongjo',serif ; font-weight:bold !important;}
.floatL{float:left;}
.floatR{float:right;}
.floatN{float:none;}
.hyper {}

ul{padding:0; margin:0; list-style-type:none;}

/*---------------------------------------
  	BOARD              
-----------------------------------------*/

@media not all and (min-width:992px){
div#post_area {padding:0;}
div#post_area img {width:100% !important ; height:auto !important;}
.table_03 td img,.table_05 td img {width:100%; height:auto !important;}
table table table table td img {width:100%; height:auto !important;}
table table tr[valign="top"] td[width="25%"] {border-bottom:0 !important; display:table; float:left; width:50% ; border:0px solid #000;}
}

/* join */
div.join { width:70%; margin:0 auto; }
div.join p {font-size:15px; padding-bottom:20px;}
table.tb_join {border:3px solid #dfdfdf; width:100%; padding:15px 0px;}
table.tb_join td{border:0; padding:5px 5px;}
table.tb_join table {margin:0 auto;}
table.tb_join td.join_id,table.tb_join td.join_pw {font-weight:bold; text-align:right; }
table.tb_join td.bt_ok {text-align:center;}

div.rule {width:100%;}
div.rule table{width:100%; padding-bottom:25px;}
div.rule table td.tit{font-size:14px; font-weight:bold; padding:0px 0 10px 0 ;}
div.rule table td textarea {width:95%; height:100px; font-size:12px; color:#999; padding:10px 10px; border:1px solid #bbb;}
div.rule input.checkbox {margin:5px 3px;}

div.join2 { width:100%; margin:0 auto; }
div.join2 p {font-size:12px; padding-bottom:20px;}
div.join2 table {width:97%;}
div.join2 table table {width:100%; border-top:2px solid #555; border-left:1px solid #dfdfdf;}
div.join2 table table table,div.join2 table table table td {border:0; padding:0; margin:0;}
div.join2 table table td {border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; font-size:12px; padding:10px 10px;}
div.join2 td.tit {font-size:14px; font-weight:bold; padding:0px 0 10px 0 ;}
div.join2 table table td.member_td_bgcolor{background-color :#f7f7f7;}
table .btn{background-color:#333; color:#fff; padding:10px 20px; border:0; margin:0 10px;}

div.join3 { width:60%; margin:0 auto; text-align:center; }
div.join3 table {width:100%; }
div.join3 td.tit{font-size:18px; font-weight:bold; padding:0px 0 30px 0 ;}

/* board */
table {font-family:"Malgun Gothic","Dotum","Gulim,Helvetica","sans-serif" !important;}
table tr td[height="1"] {background-color:#fff;}
table tr td[height="3"] {background-color:#555; height:2px;}
.board   { width:100%; border:0;  }
table.board tr td  {border:0px #e5e5e5 solid; font-size:12px;  border-bottom:1px #e5e5e5 solid; border-right:0px; height:38px; }
table form table td  {border:0px #e5e5e5 solid; border-top:1px #e5e5e5 solid; border-right:0px; height:38px; }
.board td.board_bgcolor  { background-color:#F7F7F7; border-right:0px; width:150px; text-align:center; }
.board td.board_desc {  width:550px;  } 
td.board_admin_bgcolor,td.board_admin_bgcolor table td {border:0 !important;}

.table_02   { width:100%; border:0px #e1e1e1 solid; border-top:2px #444547 solid;    }
.table_02 td  { border-bottom:1px #e1e1e1 solid; border-right:0px; height:38px; font-size:12px; }
.table_02 td.board_bgcolor  { background-color:#F7F7F7; border-right:0px; width:150px; }
.table_02 td.board_desc {  width:550px;  } 
.table_03   { width:100%; padding-top:5px; border-top:2px #444547 solid; border-bottom:1px #e1e1e1 solid; border-left:0px;  border-right:0px;  }
.table_03 td  { border-bottom:1px #e1e1e1 solid; border-right:0px #e1e1e1 solid; padding:20px 4px 20px 4px; }
.table_03 td table td { border-bottom:0px ; padding:5px 0 0 0; }
.table_05   { width:100%; padding-top:5px;border-left:0px;  border-right:0px;  }
.table_05 td  {  border-right:0px #e5e5e5 solid; padding:0px 0px 25px 0px; }
.table_05 td table td { border-bottom:0px ; padding:0px 0 2px 0; }
div.category {display:none; padding-bottom:10px; font-size:20px !important; }
div.category td{ font-size:15px !important; }
div.category select[name="com_board_category_code"]{ font-size:15px !important; }
table #search_table { padding-top:0px; margin:0 auto; }
div #ext_search td.est_cate_cell select{  height:27px; box-sizing:border-box; padding:0 0 0 5px; }
div #ext_search td.est_keyword_cell input{border:1px solid #cacaca; height:27px; box-sizing:border-box; padding:6px; }
div #ext_search td.est_btn_cell {border:0px solid #cacaca; padding:0 2px; background-color:#fff;}
div #ext_search .keywordform {width:150px;}

.bbsnewf5 { height:38px; font-size:12px; }
.bbsnewf5 a:link{color:#555555;text-decoration:none}
.bbsnewf5 a:visited{color:#555555;text-decoration:none}
.bbsnewf5 a:hover{color:#FF5500;text-decoration:none}
td.board_admin_bgcolor {padding:10px 5px 0 5px; font-size:12px;font-family:굴림,돋움;}

.public_input {width:85% !important;}
table td.board_desc input[name="file_attachment[]"]{width:85% !important; margin-bottom:10px !important;}
table td.board_desc #border[name="subject"] {width:85%; margin-left:10px;}
table td.board_desc #border {width:120px; margin-left:10px;}
table td.board_desc select[name="category"]{margin-left:10px;}

.paging {font-size:14px;font-family:굴림,돋움;color:#FF5500;font-weight:bold; clear:both; display:block; text-align:center; padding:15px; }
.paging b { font-size:14px; background-color:#7d7d7d; color:#fff; padding:5px 8px;}
.paging a:link{font-size:12px;font-family:굴림,돋움;color:#555;font-weight:normal;text-decoration:none}
.paging a:visited{font-size:12px;font-family:굴림,돋움;color:#555;font-weight:normal;text-decoration:none}
.paging a:hover{font-size:12px;font-family:굴림,돋움;color:#555;font-weight:normal;text-decoration:underline}

/*gallery*/
td.board_bgcolor,td.board_desc {border-bottom:1px solid #dfdfdf !important; }
table table tr[valign="top"] td {border-bottom:0 !important;}
table table tr td[height="3"] {} 
div.category table td[align="left"] {border-bottom:0;}
span.gallery_title {padding-top:10px; display:block; }

/*formmail*/
table.formmail_cell_bgcolor td{border:0; }
td.formmail_title_bgcolor {font-size:12px !important;}
td.formmail_cell_bgcolor { padding-left:10px !important; }
table td.formmail_cell_bgcolor input[name="name"] {width:100px; }
table td.formmail_cell_bgcolor input[name="title"] {width:80%; }
table td.formmail_cell_bgcolor input[name="receiver_email"] {width:200px; }
table td.formmail_cell_bgcolor input[name="address"] {width:90%; /*margin-top:5px;*/ }
table td.formmail_cell_bgcolor textarea[name="description"] {width:90%; }
table td.formmail_cell_bgcolor input[name="attachment[]"] {width:90% !important; }

/*webzine*/
.webzine_type2 {width:100%;}
.webzine_type2 td { color:#666666; font-family:돋움; font-size:12px; }
.webzine_type2 dl, #webzine_type2 dt, #webzine_type2 dd {margin:0;padding:0}
.webzine_type2 dl    {float:left;clear:both;width:100%;padding:0 0 16px 0;margin-bottom:0;}
.webzine_type2 .webzine_type_img_td { vertical-align:top; border-bottom:0;  }
.webzine_type2 .webzine_type_img_td span {float:left;}
.webzine_type2 .webzine_type_text_td_left { padding:0 0 0 20px; vertical-align:top; border-bottom:0; height:0; width:620px; }
.news_title {color:#0E3D72;font-size:14px;letter-spacing:-1;text-decoration:none; font-weight:bold;}
.webzine_type2 .webzine_type_text_td_right { width:100%; padding:0 9px 0 0;border-bottom:0; }
.webzine_type2 .webzine_type_img img {border:3px solid #333; margin-bottom:20px; }
.webzine_type2 .webzine_type2_table_line { width:100%; border-bottom:0px solid #dfdfdf; border-top:1px solid #e1e1e1;  height:26px; margin-bottom:10px; line-height:10px;}
.webzine_type2 dd   {float:left;width:100%; padding:0px 0 1px 0;margin:0 0 -1px 0;border-top:0px solid #e5e5e5;border-bottom:0px solid #e5e5e5;}
.webzine_type2 .obj_name {display:inline-block;width:90px;height:25px;padding:5px 0 0 12px;color:#666666;background:url(/cimg/board/cafe24_webzine/bl_webzine_type2_title.gif) right 6px no-repeat;}
.webzine_type2 .obj_value {height:25px;padding:5px 0 0 0px;}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
.noBlock {display:none;}
.wd10,.wd11,.wd12,.wd13,.wd14,.wd115 {width:100%; padding-left:15px !important; padding-right:15px !important; box-sizing:border-box; }	
.txtP { padding-bottom:20px; font-size:15px; line-height:25px; color:#333;  }
.txtBig {font-size:35px; line-height:50px;}
.txtHead {font-size:30px; line-height:45px;  }
.txtHead2 {font-size:25px; line-height:35px;  }
.txtHead3 {font-size:18px; line-height:28px; letter-spacing:-0.5px; }
.txtHead4 {  font-size:14px; line-height:26px;   }
.txtHead5 {  font-size:16px; line-height:27px;   }
.txtS {font-size:15px;  line-height:25px; }

}

