h1.main { font-size:33px; letter-spacing:5px; color:#333; font-weight:600 !important; position:relative; text-align:center;  
padding:50px 0 0 0; border-top:0px solid #dfdfdf; font-family:"Raleway","Malgun Gothic","Dotum","Gulim,Helvetica","sans-serif" !important;}
body {overflow-x:hidden}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}