body {width:calc(100% - 0px); margin:0 auto; }
#footer_03 {border-top:1px solid #dfdfdf;}

/*---------------------------------------
  SUBMENU - TOP            
-----------------------------------------*/
#contentWrap { margin:0 auto; width:100%;   position:relative; overflow:auto; overflow-x:hidden;  } 
#contentWrap #content {min-height:500px; overflow:hidden; clear:both; max-width:1100px; margin:0 auto; padding-top:0px;   }
#contentWrap #content #contentsArea  {font-size:14px; overflow:hidden;  margin:55px auto 150px auto ; width:100%; }
#content_tit {text-align:center; padding:50px 0 20px 0 ; font-weight:300; font-size:45px; position:relative;  }
#content_tit::after {content:""; display:block; width:50px; height:2px; background-color:#dfdfdf;  margin:10px auto 0 auto; text-align: center;  }

/*---------------------------------------
  SUBMENU - LEFT           
-----------------------------------------
#contentWrap { max-width:1100px; margin:50px auto 0px auto;  position:relative; overflow:auto; overflow-x:hidden;  } 
#contentWrap #subMenuWrap {width:200px; float:left;}
#contentWrap #content { float:right; min-height:500px; width:830px;  padding-top:0px; overflow:hidden;  }
#contentWrap #content #contentsArea  {font-size:14px;  margin:55px auto 80px auto; max-width:1100px; }
#content_tit {text-align:left; padding:20px 0 0px 0 ; font-weight:normal; font-size:34px; position:relative;  }
#content_tit::after {content:""; display:block; width:100%; height:1px; background-color:#dfdfdf;  margin:22px auto 0 auto; text-align: center;  }
*/

div#post_area {width:auto;}
.table_02 #post_area img {max-width:980px !important; height:auto !important; padding:0; margin:0;}
div.agent_list #post_area p img { width:100% !important; max-width:650px; }

/*약관*/
#contentsArea div.personal{padding:0; margin:0;}
#contentsArea div.personal h3{padding:0 0 5px 0; font-family:"noto_m";}
#contentsArea div.personal p{font-size:14px; line-height:25px; padding-bottom:25px;}

.form .table_02 {border-left:0; border-top:1px solid #efefef; }
.form .formmail_title_bgcolor {background-color:#fff;}
.form .table_02 >  td {border:0; border-bottom:1px solid #efefef;}
.form .table_02 tr:last-child td:last-child {border-bottom:0;}
.form .formmail_border {padding:8px 10px; border:1px solid #ccc; margin:8px 0}
.form table td.formmail_cell_bgcolor input[name='address'] {}
.form table td.formmail_cell_bgcolor textarea[name='description']{padding:8px 10px; border:1px solid #ccc; margin:8px 0}
.form td.formmail_title_bgcolor {font-size:16px !important; letter-spacing:0.5px; font-family:"NanumBarunGothic" ; 
font-weight:400; }
.form textarea {border:1px solid #ccc; color:#888;}
.form .btn3 {display:block; padding:10px 30px; width:200px; border-radius:30px 30px; background-color:#333; color:#fff;
margin: 0 auto; font-size:20px;}
p.check {padding: 0 0 10px 2%; font-size:12px; color:#888; }

div.category {display:none;}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/

@media (max-width: 1023px) {
body {width:calc(100% - 0px); margin:0 auto; }		
#contentWrap #content,div.sub_tit, h3.tit, div.container {margin:0px;}
#contentWrap #subMenuWrap {width:100%; float:none; }
#content_tit {text-align:center; padding:20px 20px 0px 20px; box-sizing:border-box; font-size:35px; }
#contentWrap { margin:0 auto; width:100%;  padding-top:0px; position:relative; overflow:hidden; } 
#contentWrap #content { padding:20px 0 50px 0; overflow:hidden; width:100%; }
#contentWrap #content img{ max-width:100%;  }
#contentWrap #content #contentsArea  { margin:30px auto 10px auto; width:92%; }
}


