#quick {display:none;}
#quick .overLayer{display: none; z-index:100; width: 100px; height: 27px; box-sizing:border-box; text-align:center;
border:1px solid #333; background-color:#FFF; padding:3px; font-size:13px;  border-radius:3px; color:#111  }
#quick .tableLayer ul {padding:0; margin:0; list-style:none;}
#quick .tableLayer ul li{ padding:5px 5px;}
#quick .tableLayer ul li a{display:block; width:66px; height:66px; background-color:rgba(0,0,0,.9); border-radius:50%; background-repeat:no-repeat; background-position:center center;}
#quick .tableLayer ul li a:hover{background-color:rgba(237,28,36,.8); }
#quick .tableLayer ul li.ico1 a{background-image:url("../img/quick1.png");}
#quick .tableLayer ul li.ico2 a{background-image:url("../img/quick2.png");}
#quick .tableLayer ul li.ico3 a{background-image:url("../img/quick3.png");}
#quick .tableLayer ul li.ico4 a{background-image:url("../img/quick4.png");}

#quick .overLayer:before {  content: "";  width: 0px;  height: 0px;  position: absolute;  border-left: 6px solid #333; 
border-right: 6px solid transparent; border-top: 6px solid transparent; border-bottom: 6px solid transparent; right: -12px; top:7px;}
#quick .overLayer:after { content: ""; width: 0px; height: 0px; position: absolute; border-left: 6px solid #fff;
border-right: 6px solid transparent; border-top: 6px solid transparent; border-bottom: 6px solid transparent; right: -10px; top:7px;}
#quick #floatMenu {z-index:99; position: absolute;  right: 30px; top: 150px;  overflow:hidden;}

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
#quick {display:none;}
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}