/* Mobile Menu Style*/
.slicknav_btn {font-size:16px; margin: 18px 15px; text-decoration:none;  position: relative; display: block; vertical-align: middle; float: right; padding: 10px 10px; line-height: 18px; cursor: pointer; }
.slicknav_menu .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em;  }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,.slicknav_nav li { display: block; }
.slicknav_nav .slicknav_arrow {  margin: 0; padding:0;  float:right; font-size:14px; font-weight:600; color:#777; }/*�޴�arrow*/
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block;  }
.slicknav_nav .slicknav_item a,.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }
.slicknav_menu a:hover { text-decoration:none; color:inherit !important; cursor:pointer; }


/* style01
.slicknav_btn { background-color: #363951; }
.slicknav_menu .slicknav_icon-bar {  background-color: #f5f5f5;} /*�޴�������
.slicknav_menu { background:#fff;}
.slicknav_nav { color:#333; margin:0; padding:0;  background-color:#f0f0f0;border-top:1px solid #d0d0d0;} /*�ι�° �޴�
.slicknav_nav, .slicknav_nav ul { list-style: none; overflow:hidden; }
.slicknav_nav ul li{border-bottom:1px solid #d0d0d0; }
.slicknav_nav ul { padding:0; margin:0px;}
.slicknav_nav ul li ul {background-color:#fff; }/*����° �޴�
.slicknav_nav ul li ul li {padding-left:15px; border-bottom:1px dashed #dfdfdf;}
.slicknav_nav ul li ul li.last {border-bottom:0px dashed #555 }
.slicknav_nav .slicknav_row { padding:10px 15px; margin:0px;}
.slicknav_nav a{ padding:7px 10px; margin:0; color:#333;}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { padding:0;  margin:0;}
.slicknav_nav .slicknav_row:hover { background:#f0f0f0; }
.slicknav_nav .slicknav_txtnode {   margin-left:15px;   }*/

/* style02*/
.slicknav_menu { }
.slicknav_btn { background-color: #363951; }
.slicknav_menu .slicknav_icon-bar {  background-color: #f5f5f5;} /*�޴�������*/
.slicknav_menu { background:#fff;}
.slicknav_nav { color:#fff; margin:0; padding:0;  background-color:#333;} /*�ι�° �޴�*/
.slicknav_nav, .slicknav_nav ul { list-style: none; overflow:hidden; }
.slicknav_nav ul li{border-bottom:1px solid #555;  }
.slicknav_nav ul { padding:0; margin:0px;}
.slicknav_nav ul li ul {background-color:#454545; }/*����° �޴�*/
.slicknav_nav ul li ul li {padding-left:15px; border-bottom:1px dashed #555;}
.slicknav_nav ul li ul li.last {border-bottom:0px dashed #555 !important;}
.slicknav_nav .slicknav_row { padding:10px 15px; margin:0px;}
.slicknav_nav a{ padding:7px 10px; margin:0; color:#fff;}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { padding:0;  margin:0;}
.slicknav_nav .slicknav_row:hover { background:#333; color:#fff;}
.slicknav_nav .slicknav_txtnode {   margin-left:15px;   }
