<!--/*-----------------------------------------------------------------+
| 이미지 경로 : {{$template}}/img/hblock/design/footer_02/img/
| css 경로 : {{$template}}/img/hblock/design/footer_02/css/
| js 경로 : {{$template}}/img/hblock/design/footer_02/js/
+------------------------------------------------------------------*/-->
<link rel="stylesheet" href="{{$template}}/img/hblock/design/footer_02/css/style.css">
<footer>
    <div class="law animatable fadeInUp">
        <ul>
            <li>개인정보처리방침</li>
            <li>이메일무단수집거부</li>
            <li>도당소개</li>
            <li>입당안내</li>
            <li>찾아오시는 길</li>
        </ul>
    </div>
    <div class="container ">
        <div class="row">
            <div class="info_1 animatable fadeInUp">
                <h2>국민의힘 충북도당</h2>
                <p>충북 청주시 흥덕구 공단로 97 (복대동 264-1번지)</p>
            </div>
            <div class="info_2 animatable fadeInUp">
                <div class="footer-info">
                    <h2>상담문의</h2>
                    <p><b>Tel</b>　043-235-0001</p>
                    <p><b>Mail</b>　libertycb@daum.net</p>
                </div>
            </div>
            <div class="info_3 animatable fadeInUp">
                <h2>FOLLOW US</h2>
                <ul class="social-icon">
                    <li><a href="#" class=""><img src="{{$template}}/img/hblock/design/footer_02/img/bt_facebook.png"
                                alt="페이스북 바로가기" /></a></li>
                    <li><a href="#" class=""><img src="{{$template}}/img/hblock/design/footer_02/img//bt_twitter.png"
                                alt="트위터 바로가기" /></a></li>
                    <li><a href="#" class=""><img src="{{$template}}/img/hblock/design/footer_02/img//bt_instagram.png"
                                alt="인스타그램 바로가기" /></a></li>
                    <li><a href="#" class=""><img src="{{$template}}/img/hblock/design/footer_02/img//bt_blog.png"
                                alt="블로그 바로가기" /></a></li>
                    <li><a href="#" class=""><img src="{{$template}}/img/hblock/design/footer_02/img//bt_youtube.png"
                                alt="유튜브 바로가기" /></a></li>
                </ul>
                <p class="member_login">
                    {{if $use_member == 'Y'}}
                    {{if $member_id}}
                    <a href="{{$template}}/member/login.php?com_member_basic=logout">로그아웃</a> ː
                    <a href="{{$template}}/member/modify.php?tit=06&sub=02">마이페이지</a>
                    {{else}}
                    <a href="{{$template}}/member/login.php?tit=06&sub=02">로그인</a> ː
                    <a href="{{$template}}/member/join.php?tit=06&sub=01">회원가입</a>
                    {{/if}}
                    {{/if}}
                </p>
            </div>
            <div class="copyright_text animatable fadeInUp">
                <p>Copyright &copy; 국민의힘 충북도당. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- 스크롤 애니메이션_블록명 // scroll_ani -->
{{$scroll_ani}}