footer {padding-top: 30px;  padding-bottom: 50px; }
footer div.law {width:100%; background-color:#d7212d; overflow:hidden;}
footer div.law ul {text-align: center; padding:0; }
footer div.law ul li {list-style-type:none; display: inline-block; padding:20px 0px; font-size:16px; color:#fff; font-weight: 400; letter-spacing:0.1px;}
footer div.law ul li:before {content:"|"; padding:0 30px; color:#fff; }
footer div.law ul li:first-child:before {content:""; border-left:0; padding:0; }

footer div.container {width:1500px; margin:30px auto; padding:0 0 50px 0; }
footer p {  color: #000;  font-size: 16px;  font-weight: 400;  line-height: 29px; display: inline; }
footer .bottom_text{position: relative;top: -10px;padding-left: 350px;font-size: 13px;color: #8d8d8d;}
footer .light_m1{margin-right: 30px;}
footer .light_m2{margin-right: 30px;}
footer h2 { background:url("../../img/main/bg_ico1.png") no-repeat left top; padding-top:15px;  font-size: 30px; font-weight: 700; line-height: 36px;  margin-top: 0; margin-bottom:20px; letter-spacing:-1px;}
footer h4 {  padding-top: 12px;}
footer a {  color: #757575;}

footer .copyright_text { width:100%; display:block; clear:both;  padding-top: 42px;}
footer .copyright_text a.sign {text-decoration:underline; color:#ccc;}
div.info_1 {width:38%; float:left; }
div.info_2 {width:62%; float:left;}
div.info_1 img{width: 60%;left: 130px;
  position: relative;}

div.info_2 .info_sub1{ padding-bottom: 10px;}


/*---------------------------------------
  SOCIAL ICON             
-----------------------------------------*/
.social-icon {  position: relative;  padding: 0px 0 25px 0;  margin: 0; display: inline;}
.social-icon li {  display: inline-block;  list-style: none;}
.social-icon li a {  -webkit-transition: all ease-in-out 0.3s;  transition: all ease-in-out 0.3s;  text-align: center;  position: relative;  margin: 4px 1px 0 0px;}
.social-icon li a img{width: 30px;}
/*.social-icon li a:hover {  -webkit-transform: scale(1.1);  transform: scale(1.1);}*/
p.member_login {display:none;}


/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
footer { text-align: center;  }
footer div.law ul {width:100%;  }
footer div.container {width:100%;  margin: 0; }  
div.info_1,div.info_2,div.info_3 {width:100%;  }
.footer-info {    padding: 22px 0 22px 0;  }
footer h2 { background-position: center top; color:#fff }

}
@media (max-width: 770px) {
footer p{font-size: 14px;}
footer {padding: 0;}
footer div.law ul{width: 100%;
  white-space: nowrap;
  
  padding-left: 5px;
  padding-right: 5px;}
footer div.law ul li{    list-style-type: none; display: inline-block;padding: 15px 0px; font-size: 11px;color: #fff;font-weight: 400;letter-spacing: 0px;}
footer div.law ul li:before{content: "|";padding: 0 2px;color: #fff;}

div.info_1 img {width: 190px;left: 0;margin: 35px 0 20px 0;position: relative;}
div.info_2 .info_sub1{ padding: 0 0px 50px 0px;    margin: auto;    width: 350px;}
div.info_2 .info_sub1 p{}
div.info_2 .info_sub2{ padding: 15px 20px 15px 20px;float: left;background: #59c6f0;width: 100%;}
footer .light_m1 {margin-right: 0px;float: left;}
footer .light_m2 {margin-right: 0px;float: right;}
footer .light_m3 {margin-right: 0px;float: left;  padding-bottom: 30px;}
footer .light_m1 strong{background: #f30f0f;font-size: 11px;padding: 0 13px 0 13px;border-radius: 20px;font-weight: 500;color: #fff;}
footer .light_m2 strong{background: #f30f0f;font-size: 11px;padding: 0 9px 0 9px;border-radius: 20px;font-weight: 500;color: #fff;}
footer .light_m3 strong{background: #f30f0f;font-size: 11px;padding: 0 11px 0 13px;border-radius: 20px;font-weight: 500;color: #fff;  }
footer .bottom_text{padding-left:0px;float: left;font-size: 11px;top: 0px;color: #ffffff;font-weight: 100;}
.social-icon li a img{width: 23px;}
footer .social-icon {padding:0px;bottom: -2px;float: right;}
}
@media (max-width: 350px) {

  .social-icon li a img {width: 12px;bottom: -1px;position: relative;}
  footer div.law ul li{font-size: 10px;}
  footer p{font-size: 11px;}
  footer .light_m1 strong{    padding: 0 17px 0 16px;}
  footer .light_m3 strong{    padding: 0 16px 0 16px;}
  footer .bottom_text{padding-left:0px;float: left;font-size: 9px;top: 0px;color: #ffffff;font-weight: 100;}
  footer .light_m1 {
    margin-right: 0px;
    float: left;
    width: 100%;
    text-align: left;}
    footer .light_m2 {
      margin-right: 0px;
      float: right;
      width: 100%;
      text-align: left;
  }
  footer .light_m3 {
    margin-right: 0px;
    float: left;
    width: 100%;
    text-align: left;
 }
 
 div.info_2 .info_sub1{ padding: 0 20px 50px 20px;   }
 div.info_2 .info_sub2{ padding: 5px 20px 5px 20px;float: left;background: #59c6f0;width: 100%;}
 }