#contact {position:relative; background-color:#fff; overflow:hidden; padding:80px 0;  }
#contact h3 { font-size:35px; text-align:center;}
#contact .table_02 {border-top:0;}
#contact section.info ul li.formmail td.formmail_cell_bgcolor {line-height:0px;}
#contact section.info{width:1100px; margin:30px auto; padding:0; overflow:hidden; }
#contact section.info ul { list-style-type:none; padding:0; margin:0; overflow:hidden; }
#contact section.info ul li{width:50%; float:left;}
#contact section.info ul li.map .root_daum_roughmap {width:95% !important;}
div.wrap_controllers {border:0 !important;}
#contact section.info ul li.map p{font-size:15px; height:70px; padding:0 0 0 2px; margin:0; text-align:left;  line-height:22px;}
#contact section.info ul li.formmail{float:right; display:block !important; border:0px solid #dfdfdf; padding:0px; box-sizing:border-box; height: 470px; }
#contact section.info ul li.formmail p{font-size:14px; height:67px; padding:0 13px 0 0 ; margin:0;  line-height:22px; text-align:right; }
#contact section.info ul li.formmail table.   { width:100%; border-top:0px #444547 solid; border-bottom:0px #4fb3d2 solid; border-left:0;  }
#contact section.info ul li.formmail td  { border-bottom:0px #e5e5e5 solid; border-right:0px; height:46px; }
#contact section.info ul li.formmail .formmail_border  {font-size:14px !important;  font-family:"Malgun Gothic","Dotum","Gulim,Helvetica","sans-serif"; background-color:#f0f0f0;  width:97%; border:1px solid #dfdfdf; padding:7px 7px 8px 7px;}
#contact section.info ul li.formmail .formmail_textarea_style  { width:97%; margin-top:3px; background-color:#f0f0f0; height:150px !important;  border:1px solid #dfdfdf; padding:7px;}
#contact section.info ul li.formmail table td.formmail_title_bgcolor { width:12%; padding-bottom:10px; text-align:right; font-size:14px; padding-right:10px; font-family:"Malgun Gothic";}
#contact section.info ul li.formmail table td.formmail_title_bgcolor font {color:#333 !important;}
#contact section.info ul li.formmail td.formmail_cell_bgcolor {height:3px; padding-bottom:8px;}
#contact section.info ul li.formmail table div.btn2 a{background-color:#333; color:#fff; float:right; display:block; padding:8px 0; width:110px; font-size:18px; text-align:center; margin:0px 0 0 75px; }
#contact section.info ul li.formmail table .btn2{ color:#fff; padding:10px 0px; border:0; margin:0 10px;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr td textarea {display:none;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr td{color:#333; height:20px; font-size:13px;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr:first-child td:first-child{display:none;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr:last-child td:last-child{display:none;}

/* ----background black------
 #contact {position:relative; background-color:#2c3544; overflow:hidden; padding:60px 0; }
#contact h3 {color:#fff; font-size:35px; text-align:center;}
#contact .table_02 {border-top:0;}
#contact section.info ul li.formmail td.formmail_cell_bgcolor {line-height:0px;}
#contact section.info{width:1100px; margin:30px auto; padding:0; overflow:hidden; }
#contact section.info ul { list-style-type:none; padding:0; margin:0; overflow:hidden; }
#contact section.info ul li{width:50%; float:left;}
#contact section.info ul li.map .root_daum_roughmap {width:95% !important;}
div.wrap_controllers {border:0 !important;}
#contact section.info ul li.map p{font-size:15px; height:70px; padding:0 0 0 2px; margin:0; text-align:left; color:#fff; line-height:22px;}
#contact section.info ul li.formmail{float:right; display:block !important; border:0px solid #dfdfdf; padding:0px; box-sizing:border-box; height: 470px; }
#contact section.info ul li.formmail p{font-size:14px; height:67px; padding:0 13px 0 0 ; margin:0;  line-height:22px; text-align:right; color:#fff;}
#contact section.info ul li.formmail table.   { width:100%; border-top:0px #444547 solid; border-bottom:0px #4fb3d2 solid; border-left:0;  }
#contact section.info ul li.formmail td  { border-bottom:0px #e5e5e5 solid; border-right:0px; height:50px; }
#contact section.info ul li.formmail .formmail_border  {font-size:14px !important;  font-family:"Malgun Gothic","Dotum","Gulim,Helvetica","sans-serif"; background-color:#fff;  width:97%; border:0px solid #666; padding:8px 7px 9px 7px;}
#contact section.info ul li.formmail .formmail_textarea_style  { width:97%; margin-top:3px; background-color:#fff; height:150px !important;  border:0px solid #666; padding:7px;}
#contact section.info ul li.formmail table td.formmail_title_bgcolor { width:12%; text-align:right; font-size:14px; padding-right:10px; font-family:"Malgun Gothic";}
#contact section.info ul li.formmail table td.formmail_title_bgcolor font {color:#abb4c3 !important;}
#contact section.info ul li.formmail td.formmail_cell_bgcolor {height:3px; padding-bottom:8px;}
#contact section.info ul li.formmail table div.btn2 a{background-color:#fff; color:#333; float:right; display:block; padding:8px 0; width:110px; font-size:18px; text-align:center; margin:0px 0 0 75px; }
#contact section.info ul li.formmail table .btn2{ color:#fff; padding:10px 0px; border:0; margin:0 10px;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr td textarea {display:none;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr td{color:#fff; height:20px; font-size:13px;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr:first-child td:first-child{display:none;}
#contact section.info ul li.formmail .table_02 td.formmail_cell_bgcolor table tr:last-child td:last-child{display:none;}

 */

/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/
@media (max-width: 1023px) {
#contact { padding:60px 20px; }
#contact section.info ul li{width:100%; float:none;}
#contact section.info ul li.map .root_daum_roughmap {width:100% !important;}
#contact section.info{width:100%; }
#contact section.info ul li.formmail{float:none; padding-top:50px;	 height: auto; }
#contact section.info ul li.formmail p{font-size:14px; height:67px; padding:0 0 0 0 ; margin:0;  line-height:22px; text-align:left; }
#contact section.info ul li.formmail > table {border:1px solid #dfdfdf; padding:20px 10px;}
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
