@media not all and (min-width:1023px){
.button_container {
  position: absolute; 
  top: 40px;
  right: 35px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container div.txt {clear:both; letter-spacing:0px; color:#999; display:none;
font-size:22px; position:absolute; top:-2px; right:47px; font-weight:normal; }
.button_container.active div.txt {color:#fff;}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #ccc;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.gnb .open { 
  position: absolute; z-index:99;  overflow-x:hidden;
  background: /*#FF5252*/ #222; 
  top: 0;  left: 0; 
  width: 100%; height:100vh;
  opacity: 0;
  padding:35px 0; box-sizing:border-box;
  font-size: 25px;
  text-align: center;
  visibility: hidden;  -webkit-transition: opacity .35s, visibility .35s, height .35s;  transition: opacity .35s, visibility .35s, height .35s;

}
.gnb .open { display:block !important;
  opacity: .9;
  visibility: visible;
  /*height: 100%;*/
}


.gnb .open ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 auto;
  display: block;
  position: relative;
}
.gnb .open ul li { overflow:hidden;
  display: block; 
  position: relative;
}
.gnb .open ul li a { color:#c3a71f;
  display: block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.gnb .open ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.gnb .open ul li ul {padding-top:10px;}
.gnb .open ul li ul li,.open ul li ul li a {font-size:15px; line-height:30px;   color: #FFF;}
.depth2_pro ul {overflow:hidden;}
.depth2_pro ul li {float:left; width:25%;}
.gnb .open ul li ul li li a {font-size:13px;}


div.button_container div.txt{display:none;}
.button_container { display:block;  position: absolute;  }
.button_container {    top: 20px;  right: 20px; }
}

